*{
    margin: 0;
    padding: 0;
}

body{
    margin: 200px;
}
.container{
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

body{
    font-family: 'Segoe UI';
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.header-section{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table, td, th {
    padding: 10px;
}

.column-action{
    padding-left: 65px;
}

td{
    align-items: center;

}

/*Button Section*/
.button{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.btn-add-list{
    background-color: #04AA6D;
}

.btn-add-list:hover{
    background-color: #0a8a5a;
}

.btn-edit-item{
    background-color: #ffc107;
}

.btn-edit-item:hover{
    background-color: #cc9a03;
}

.btn-delete-item{
    background-color: #dc3545;
}

.btn-delete-item:hover{
    background-color: #ac2835;
}


